@namespace CustomCharacter

<style>
    Info {
        position: absolute;
        bottom: 64px;
        right: 64px;
        flex-direction: column-reverse;

        .text {
            color: white;
            font-weight: 700;
            font-size: 32px;
            justify-content: center;
            align-items: center;
            align-content: stretch;

            text-shadow: 2px 2px 5px rgba(black, 0.3);
        }

        .icon {
            color: white;
            font-size: 20px;
            font-family: Material Icons;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        .reserve {
            color: lightgrey;
            font-size: 24px;
        }

        .row {
            margin-top: 12px;
            justify-content: flex-end;
        }
    }
</style>

<root>
    <div class="row">
        <label class="text @HealthClasses()">@Health</label>
        <label class="text reserve">100</label>
        <label class="icon">monitor_heart</label>
    </div>
</root>

@code
{
    public string Health => $"{Player.Health:F0}";
    public Player Player => Game.LocalPawn as Player;

    protected override int BuildHash()
    {
        return Player?.Health.GetHashCode() ?? 0;
    }

    protected string HealthClasses()
    {
        return Player.Health < 25f ? "low" : "";
    }

}